<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {% if styles %}
    {% for style in styles %}
      <link rel="{{ style.rel }}" media="{{ style.media }}" href="{{ style.href }}">
    {% endfor %}
  {% endif %}
  {% if scripts %}
    {% for script in scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  {% endif %}
</head>